table, th, td{
    border: 1px solid black;
    color: white;
    font-family: "Roboto Light", serif;
    text-align: center;
    border-collapse: collapse;
}
table {
    border: 20px solid #c7ced8;
}

thead, tfoot {
    background-color: #27426d;
}
tbody tr:nth-child(2n+1) {
    background-color: #4f8cef;
}
tbody tr:nth-child(2n) {
    background-color: #6facff;
}
tbody tr:nth-of-type(-n+2) {
    background-color: #27426d;
}
